<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <style> table.associates, table.associates td { border: none; } </style>

    {% seo %}
</head>

<body>


    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
            <h2 id="project_tagline"><a href="{% link index.md %}" style="color:white">{{ site.title }}</a></h2>
            
            <a href = "{% link about.md %}">ABOUT</a> &nbsp;&nbsp;
            <a href = "{% link education.md %}">EDUCATION</a> &nbsp;&nbsp;
            <a href = "{% link research.md %}">RESEARCH</a> &nbsp;&nbsp;
            <a href = "{% link events.md %}">EVENTS</a> &nbsp;&nbsp;
            <a href = "{% link associates.md %}">ASSOCIATES</a> &nbsp;&nbsp;
            <a href = "{% link contact.md %}">CONTACT</a> &nbsp;&nbsp;

        </header>
    </div>

<!-- MAIN CONTENT -->
<div id="main_content_wrap" class="outer">
    <section id="main_content" class="inner">
        {{ content }}
    </section>
</div>
    
    <!-- FOOTER  -->
<div id="footer_wrap" class="outer">
    <footer class="inner">
        
       
    </footer>
</div>

    </body>
</html>
